
_ReSharper.FubuRaven.NTCoding/BuildScriptCache/.crc
_ReSharper
_ReSharper*
src/app/Web/bin/
src/app/Web/bin/*
src/app/Web/obj/*
src/tests/Web.Tests/bin/Debug/*
src/tests/Model.Tests/bin/Debug/*
src/app/Web/bin/Web.pdb
src/specs/bin/*
src/specs/obj/*
src/specs/obj/*
src/tests/Model.Tests/bin/*
src/tests/Model.Tests/obj/*
src/specs/bin/*
src/tests/Model.Tests/bin/*
src/specs/bin/*
src/app/Model/obj/*
src/specs/obj/*
src/app/Web/@App_Data/*
src/app/Web/@App_Data/*
src/app/Web/bin/*
src/app/Web/@App_Data/Raven/Data